<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Baltimore Orioles Player Tracker - DEMO</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <link href="{{ request.static_url('pitch_compare:static/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0/dc.min.css" rel="stylesheet">
    <link href="{{ request.static_url('pitch_compare:static/css/main.css') }}" rel="stylesheet">
    <link href="{{ request.static_url('pitch_compare:static/css/pitch-compare.css') }}" rel="stylesheet">


    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{{ request.static_url('pitch_compare:static/css/themify-icons.css') }}" rel="stylesheet">

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="dashboard" class="simple-text">
                    <img src="{{ request.static_url('pitch_compare:static/img/baltimore-orioles.png') }}" alt="baltimore-orioles" width="100" height="94">
                </a>
            </div>

            {% block nav %}
            {% endblock %}

        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>

                    {% block header %}
                    {% endblock %}

                </div>
                <div class="collapse navbar-collapse">

                </div>
            </div>
        </nav>

        <div>
            <a class='reset' href='javascript:prevOutSelect.filterAll();dc.redrawAll();' style='visibility: hidden;'>reset</a>
        </div>


        {% block content %}
        {% endblock %}


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="http://www.thomasknickman.com">
                                Thomas E. Knickman
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>
                </div>
            </div>
        </footer>

    </div>
</div>


</body>


<script src="{{ request.static_url('pitch_compare:static/js/jquery-1.10.2.js') }}"></script>
<script src="{{ request.static_url('pitch_compare:static/js/bootstrap.min.js') }}"></script>
{% block js %}
{% endblock %}

</html>
