-e .
appdirs==1.4.2
functools32==3.2.3.post2
gunicorn==19.6.0
hupper==0.4.2
Jinja2==2.9.5
jsonschema==2.6.0
MarkupSafe==0.23
packaging==16.8
PasteDeploy==1.5.2
pyparsing==2.1.10
pyramid==1.8.2
pyramid-jinja2==2.7
repoze.lru==0.6
six==1.10.0
translationstring==1.3
venusian==1.0
waitress==1.0.2
WebOb==1.7.1
zope.deprecation==4.2.0
zope.interface==4.3.3
